.button {
    grid-area: bt;
    border: 2px solid hsl(33, 60%, 50%);
    padding: 5px;
    border-radius: 25px;
    font-size: larger;
    font-weight: bold;
    transition: 0.3s;
}

.button:hover {
    transition: 0.3s;
    transform: scale(1.2);
}

.button:active {
    background-color: hsla(33, 60%, 50%, 0.63);
}

@media(max-width: 650px) {
    .button:hover {
        transform: scale(1.1);
    }
}