html {
  box-sizing: border-box;
}

*,
::after,
::before {
  box-sizing: inherit;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  background-image: url(/images/background.jpg);
  background-size: cover;
  background-position: center;
  background-blend-mode: luminosity;
  background-color: hsl(33, 30%, 50%);
  background-attachment: fixed;
  font-size: large;
}